header {
    background-color: #87CEEB;
    color: rgb(57, 52, 52);
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 5px solid #0000FF;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    background-color: #BBF4F4;
}

main .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main aside {
    flex: 1;
    flex-direction: column;
    background-color: #f0f0f0;
    color: #333333;
}

main section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #706b6b;
    color: #242020;
}

