header {
    background-color: skyblue;
    color: rgb(57, 52, 52);
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid tomato;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

main .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main aside {
    flex: 1;
    flex-direction: column;
}

main section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

