.form {
    max-width: 800px;
    margin: 0 auto;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.form div {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}



textarea {
    resize: none;
}

button {
    grid-column: 1 / -1;
    padding: 10px;
    background-color: #3db1e3;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #3312ef;
}



@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }
}