.lista {
    padding: 0px 10px;
    margin: 10px;
    color: white;
}

li {
    line-height: 25px;
}

.news-title {
    color: rgb(27, 71, 126);
}

.news-date {
    color: green;
}

.news-type {
    color: rgb(180, 42, 18);
}